.hover {
  transition: transform 0.2s ease;
}
.hover:hover {
  transform: scale(1.1);
}
.smallHover {
  transition: transform 0.2s ease;
}
.smallHover:hover {
  transform: scale(1.03);
}
.detailsIcon {
  margin-left: 8px;
}
.inactive {
  filter: grayscale(100%);
}
.detail {
  float: right;
}
.detail img {
  width: 17px;
  height: 17px;
}
.shopContainer {
  border: 2px solid #735290;
}
.shop {
  border: 2px solid #735290;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0px;
}
.shopTitle {
  top: 0;
  background-color: #735290;
  border: 2px solid black;
}
.footer {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.quirkyButton {
  -webkit-user-drag: none;
  box-shadow: 0px 0px 70px rgba(128, 128, 128, 1);
  border: "0px solid rgba(255, 255, 255, 0.9)";
}

.quirkyButton:active {
  transition: all 0.2s ease;
  transform: scale(0.9);
  box-shadow: #363457 0px 0px 20px 7px;
}

.quirkyButton:hover {
  transition: all 0.2s ease;
  margin-bottom: 20px;
  border: 5px solid rgba(207, 207, 207, 0.9);
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.9);
}

.flash-slide {
  border: medium;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin: 20px;
  width: 180px;
  height: 80px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica;
  text-align: center;
}

.flash-slide::before {
  content: "";
  position: absolute;
  top: -70px;
  left: -350px;
  height: 1500px;
  width: 70px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
}

.flash-slide:hover::before {
  left: 400px;
  transition: all 0.5s ease 0s;
}

.owned-C {
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
}

.owned-C:hover {
  border: 4px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.9);
}

.owned-U {
  box-shadow: 0px 0px 10px 2px rgba(0, 128, 0, 0.5);
}

.owned-U:hover {
  border: 4px solid rgba(0, 128, 0, 0.9);
  box-shadow: 0px 0px 30px 10px rgba(0, 128, 0, 0.9);
}

.owned-R {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 255, 0.5);
}

.owned-R:hover {
  border: 4px solid rgba(0, 0, 255, 0.9);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 255, 0.9);
}

.owned-E {
  box-shadow: 0px 0px 10px 2px rgba(128, 0, 128, 0.5);
}

.owned-E:hover {
  border: 4px solid rgba(128, 0, 128, 0.9);
  box-shadow: 0px 0px 30px 10px rgba(128, 0, 128, 0.9);
}

.owned-L {
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 0, 0.5);
}

.owned-L:hover {
  border: 4px solid rgba(255, 255, 0, 0.9);
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 0, 0.9);
}

.owned-M {
  box-shadow: 0px 0px 10px 2px rgba(gold, 0.5);
}

.owned-M:hover {
  border: 4px solid rgba(gold, 0.9);
  box-shadow: 0px 0px 30px 10px rgba(gold, 0.9);
}

.owned-M:hover {
  box-shadow: 0px 0px 30px 10px rgba(gold, 0.9);
}

.owned-C,
.owned-U,
.owned-R,
.owned-E,
.owned-L,
.owned-M {
  opacity: 0.9;
  color: white;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.owned-C:hover,
.owned-U:hover,
.owned-R:hover,
.owned-E:hover,
.owned-L:hover,
.owned-M:hover {
  opacity: 1;
  color: white;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.unowned {
  filter: grayscale(100%);
  opacity: 0.2;
  border-radius: 10px;
}
