.hover {
  transition: transform 0.2s ease;
}
.hover:hover {
  transform: scale(1.1);
}
.smallHover {
  transition: transform 0.2s ease;
}
.smallHover:hover {
  transform: scale(1.03);
}
.detailsIcon {
  margin-left: 8px;
}
.inactive {
  filter: grayscale(100%);
}
.detail {
  float: right;
}
.detail img {
  width: 17px;
  height: 17px;
}
.shopContainer {
  border: 2px solid #735290;
}
.shop {
  border: 2px solid #735290;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0px;
}
.shopTitle {
  top: 0;
  background-color: #735290;
  border: 2px solid black;
}
.footer {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.quirkyButton {
  width: 180px;
  transition: all 0.2s ease;
  -webkit-user-drag: none;
}

.quirkyButton:active {
  transform: scale(0.9);
  box-shadow: #363457 0px 0px 20px 7px;
}

.flash-slide {
  border: medium;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin: 20px;
  width: 180px;
  height: 80px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica;
  text-align: center;
}

.flash-slide::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -120px;
  height: 300px;
  width: 70px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
}

.flash-slide:hover::before {
  left: 190px;
  transition: all 0.5s ease 0s;
}