.hover {
  transition: transform 0.2s ease;
}
.hover:hover {
  transform: scale(1.1);
}
.smallHover {
  transition: transform 0.2s ease;
}
.smallHover:hover {
  transform: scale(1.03);
}
.detailsIcon {
  margin-left: 8px;
}
.inactive {
  filter: grayscale(100%);
}
.detail {
  float: right;
}
.detailTitle {
  font-size: 18px;
  font-weight: bold;
}
.detail img {
  width: 17px;
  height: 17px;
}
.shopContainer {
  border: 2px solid #735290;
}
.shop {
  border-top: 10px solid #735290;
  border: 2px solid #735290;
  overflow-x: hidden;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0px;
}
.shopArrow {
  position: sticky;
  top: 43vh;
  left: 300px;
  color: 'grey';
}
.shopTitle {
  position: sticky;
  top: 0; 
  background-color: #735290;
  border: 2px solid black;
}